.App {
  text-align: center;

}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}






.menuLinkDiv{
  background-color: bisque;
  text-align: center;
 
}

body{
 background-color: #282c34;
 color: whitesmoke;
}

.topDiv{
 border-style: groove;
 
 border-radius: 10px;
overflow: auto;
}

.footer{    
    width: 100%;
    background-color: whitesmoke;
    color: black;
    text-align: center;
    
}

.header{
  text-align: center;
  color:chocolate;
  font-family:Century Gothic;
  text-shadow: 1px 1px whitesmoke;
  padding: 20px;
}


.mainMenuLinkDiv .list-group-item{
  display: inline;
  border-radius: 25px;
  font-family: Corbel;
}

.mainMenuLinkDiv .list-group-item:hover{
  color: coral;
  background-color: #282c34;
  font-family: Corbel;
}


.homeComponent { 
color: burlywood;
 text-align: center;
}
.homeComponent h2{
color:whitesmoke;
font-family: Corbel;
}
.logo-img{
  width: 200px;
  height: 80px; 
   
}

.orderLink{
  text-align: center;
}

.aboutus{
  color:whitesmoke;
  font-family:Corbel;
}

.contactus{
  text-align: center;
    color:whitesmoke;
  font-family:Consolas;
}

.searchOrderDiv{
  border-style: groove;
 color: whitesmoke;
 border-radius: 10px;
 padding: 10px;
}

.placeOrderDiv{
  border-style: groove;
 color: whitesmoke;
 border-radius: 10px;
 padding: 10px;
}

